// border_1px.scss
@mixin borderCreator($name,$direction,$type,$color){
  .border-#{$name}{
    @if $direction != "" {
      border-#{$direction}:1px $type $color;
    } @else {
      border:1px $type $color;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2 ){
    .border-#{$name}{
      @if $direction != "" {
        border-#{$direction}:0.5px $type $color;
      } @else {
        border: 0.5px $type $color;
      }
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3 ){
    .border-#{$name}{
      @if $direction != "" {
        border-#{$direction}:0.333333px $type $color;
      } @else {
        border:0.333333px $type $color;
      }
    }
  }
}


@svg borderH {
  height: 2px;
  @rect {
      fill: var(--color, black);
      width: 100%;
      height: 50%;
  }
}
@svg borderV {
  width: 2px;
  @rect {
      fill: var(--color, black);
      width: 50%;
      height: 100%;
  }
}

//----水平1像素线----
@mixin borderH($color: $borderColor) {
  border-style: solid;
  border-color: $color;
  border-image: svg(borderH param(--color $color)) 2 stretch;
}
//----垂直1像素线----
@mixin borderV($color: $borderColor) {
  border-style: solid;
  border-color: $color;
  border-image: svg(borderV param(--color $color)) 2 stretch;
}

%border-b{
@include borderH();
border-width: 0 0 1px 0; /*no*/
}
%border-t{
@include borderH();
border-width: 1px 0 0 0; /*no*/
}
%border-l{
@include borderV();
border-width: 0 0 0 1px; /*no*/
}
%border-r{
@include borderV();
border-width: 0 1px 0 0; /*no*/
}



@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include size($size);
  border-radius: $size;
}